<h2>show page</h2>
<div>
	<img src="{{vmShow.post.photo_url}}">
	<p> {{vmShow.post.author}} </p>
	<p> {{vmShow.post.body}} </p>
	<!-- <p>{{$stateParams.id}}</p> -->
	<a href="#" ng-click="vmShow.post.hide = !vmShow.post.hide">Edit</a>
	<a href="#">Delete</a>
</div>
<div ng-init="vmShow.post.hide = false" ng-show="vmShow.post.hide">
	<form>
		<input type="text" placeholder="Photo URL" ng-model="vmShow.post.photo_url"><br>
		<input type="text" placeholder="vmShow.post.author" ng-model="vmShow.post.author"><br>
		<input type="text" placeholder="vmShow.post.body" ng-model="vmShow.post.body">
		<button ng-click="vmShow.editPost()">Submit Changes!</button>
	</form>
</div>


<!-- ng-init="vmShow.post.hide = false" ng-show="vmShow.post.hide"
ng-click="vmShow.post.hide = !vmShow.post.hide" -->